@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif;
}
@layer components{
  .d-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}